<template lang="html">
  <div class="section">
    <div class="container">
      <table class="table is-fullwidth">
        <thead>
          <th></th>
          <th v-for="student in students">{{ student.name }}</th>
        </thead>
        <tbody>
          <template v-for="assignment in assignments">
            <tr>
              <td>{{assignment.name}}</td>
              <td v-for="student in students"></td>
            </tr>
            <tr v-for="method in assignment.methods">
              <td>{{method.name}}</td>
              <td v-for="attempt in method.attempts">{{attempt.resultName}}</td>
            </tr>
          </template>
        </tbody>
      </table>
    </div>
  </div>
</template>

<script>
import assignments from '../table-data';

export default {
  data() {
    return {
      assignments,
      students: assignments[0].methods[0].attempts.map(({student}) => student),
    };
  },

  methods: {

  },
};
</script>
